@model Product

@{ ViewData["Title"] = "SpecialDeatails"; }



<div class="site page-content woocommerce">

    <div class="content-area shop-single-v1-section container">
        <div class="product">
            <div class="product-top-image">
                <div class="images">
                    <div id="slider" class="flexslider">
                        <div class="flex-viewport">
                            <ul class="slides">
                                @{ DateTime? itemDiscount = Model.DiscountDate;

                        @foreach (var item in Model.ProductToProduct)
                        {
                            foreach (var item2 in item.ProductImages)
                            {
            <li>
                <a href="#" class="swipebox" title="">
                    <img src="~/ProductDetails/@item2.Image"
                         class="attachment-shop_single size-shop_single wp-post-image" alt="#">
                </a>
            </li>
}
    } }
                            </ul>
                        </div>
                    </div>
                    <div id="carousel" class="flexslider thumbnail_product">
                        <div class="flex-viewport">
                            <ul class="slides">
                                @{ int i = 1;}
                                @foreach (var item in Model.ProductToProduct)
                                {
                                    foreach (var item2 in item.ProductImages)
                                    {
                    <li class="@(i==1?"flex-active-slide":"")">
                        <img src="~/ProductDetails/@item2.Image"
                             class="attachment-thumbnail size-thumbnail wp-post-image" alt="#">
                    </li>
}

                i++;
            }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="summary entry-summary">
                    <h1 class="product_title entry-title">@Model.Title</h1>
                    <span class="rating">
                        <span class="star-rating">
                            <i class="fa fa-star "></i> <i class="fa fa-star "></i> <i class="fa fa-star "></i> <i class="fa fa-star "></i> <i class="fa fa-star-o "></i>
                        </span>
                        <span class="number-review">( 2 customer reviews )</span>
                    </span>
                    <p class="price">
                        <span class="woocommerce-Price-amount amount">
                            @if (itemDiscount != null && itemDiscount > DateTime.Now)
                            {
                <h5 class="latestp1">@Model.DiscountPrice</h5>
                                <span class="woocommerce-Price-currencySymbol">$</span>@Model.Price }
                            else
                            {

                <span class="woocommerce-Price-currencySymbol">$</span>@Model.Price}

                        </span>
                    </p>
                    <div class="woocommerce-product-details__short-description">
                        @*<p>@Model.About</p>*@
                    </div>
                    <form class="cart" action="#" method="post"
                          enctype="multipart/form-data">
                        <div>
                            <div class="btn-group">
                                <button type="button" class="prev btn ">-</button>
                                <button type="button" class="show-number btn ">1</button>
                                <button type="button" class="next btn ">+</button>
                            </div>
                            <div class="btn-add-to-cart">
                                <a href="#" class="btn add-to-cart">ADD TO CART</a>
                            </div>
                        </div>
                    </form>
                    <div class="yith-wcwl-add-button">
                        <a asp-controller="Product" asp-action="AddToCart" asp-route-id="@Model.Id" class="btn foradd   ">Add to cart</a>
                        @* <a asp-controller="Product" asp-action="AddToCart" asp-route-id="@Model.Id" href="wishlist.html"><i class="fa fa-heart"></i> <span>Add to Wishlist</span></a>*@
                    </div>
                    <div class="product_meta">
                        <span class="sku_wrapper">SKU: <span class="sku">@Model.Model</span></span>
                        <span class="posted_in">
                            Categories:
                            <a href="shop.html" rel="tag">@Model.Brand</a>,
                        </span>
                        <span class="tagged_as">
                            Tag:
                            @*@foreach (var item in Model.ProductTagToProducts)
                                {
                                    <a href="shop.html" rel="tag">@item.ProductTag.Name</a>
                                }*@
                        </span>

                    </div>
                    <div class="product-share">
                        <span>Share </span>
                        <div class="item-social">
                            <a class="face" title="Share on Facebook"
                               href="http://www.facebook.com/sharer.php?">#facebook</a>
                            <a class="twitter" title="Tweet this!"
                               href="https://twitter.com/intent/tweet?">#twitter</a>
                            <a class="google"
                               href="https://plus.google.com/share?url=">#google</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--tabs-->
            <div class="woocommerce-tabs wc-tabs-wrapper">
                <ul class="nav nav-tabs tabs" role="tablist">
                    <li class="nav-item">
                        <a href="#tab-description" class="nav-link active" aria-controls="tab-description"
                           data-toggle="tab" id="tab-title-description" role="tab">Description </a>
                    </li>
                    <li class="nav-item">
                        <a href="#tab-additional_information" class="nav-link" data-toggle="tab"
                           id="tab-title-additional_information" role="tab"
                           aria-controls="tab-additional_information">
                            Additional
                            information
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#tab-reviews" class="nav-link" data-toggle="tab" id="tab-title-reviews" role="tab"
                           aria-controls="tab-reviews">Reviews (2) </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-description" role="tabpanel"
                         aria-labelledby="tab-title-description">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has
                            been the industry’s standard dummy text ever since the 1500s, when an unknown printer
                            took a
                            galley of type and scrambled it to make a type specimen book
                        </p>
                    </div>
                    <div class="tab-pane fade "
                         id="tab-additional_information" role="tabpanel"
                         aria-labelledby="tab-title-additional_information">

                        <h2>Additional information</h2>

                        <table class="woocommerce-product-attributes shop_attributes">
                            <tbody>
                                <tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_pa_brand">
                                    <th class="woocommerce-product-attributes-item__label">BRAND</th>
                                    <td class="woocommerce-product-attributes-item__value">
                                        <p>Champion, Supreme</p>
                                    </td>
                                </tr>
                                <tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_pa_color">
                                    <th class="woocommerce-product-attributes-item__label">COLOR</th>
                                    <td class="woocommerce-product-attributes-item__value">
                                        <p>
                                            Black, Light blue, White,
                                            Yellow
                                        </p>
                                    </td>
                                </tr>
                                <tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_pa_size">
                                    <th class="woocommerce-product-attributes-item__label">SIZE</th>
                                    <td class="woocommerce-product-attributes-item__value">
                                        <p>L, M, S, XL</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews">
                        <div id="reviews" class="woocommerce-Reviews">
                            <div id="comments">
                                <h2 class="woocommerce-Reviews-title">
                                    2 reviews for <span>Hyper shoe</span>
                                </h2>

                                @await Component.InvokeAsync("VcComment")

                                <div class="clear"></div>
                            </div>
                    </div>
                </div>
            </div>
            <!--end tabs-->
            <section class="related products">
                <h2>Related products</h2>
                <ul class="products columns-4">
                    <li class="product">
                        <div class="inner-item-product">
                            <div class="product-image">
                                <span class="onsale">Sale</span>
                                <a href="simple-product.html" class="wp-post-image">
                                    <img src="images/product/product16.jpg" alt="">
                                    <img src="images/product/product15.jpg"
                                         class="product-change-images"
                                         alt="">
                                </a>
                                <div class="box-hover">
                                    <a href="javascript:void(0)" class="quick-view" data-toggle="modal"
                                       data-target="#quickview">

                                    </a>
                                    <div class="yith-wcwl-add-to-wishlist">
                                        <a href="#"
                                           class="add_to_wishlist single_add_to_wishlist">
                                        </a>
                                    </div>
                                    <a href="#" data-quantity="1"
                                       class="button product_type_simple add_to_cart_button ajax_add_to_cart"></a>
                                </div>
                            </div>
                            <div class="wrapper-content-item">
                                <h2 class="woocommerce-loop-product_title">
                                    <a href="simple-product.html">
                                        Weaver hat
                                        v2
                                    </a>
                                </h2>
                                <span class="price">
                                    <del>
                                        <span class="woocommerce-Price-amount amount">
                                            <span class="woocommerce-Price-currencySymbol">$</span>40
                                        </span>
                                    </del> <ins>
                                        <span class="woocommerce-Price-amount amount">
                                            <span class="woocommerce-Price-currencySymbol">$</span>35
                                        </span>
                                    </ins>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="inner-item-product">
                            <div class="product-image">
                                <a href="simple-product.html" class="wp-post-image">
                                    <img src="images/product/product15.jpg" alt="">
                                    <img src="images/product/product16.jpg"
                                         class="product-change-images"
                                         alt="">
                                </a>
                                <div class="box-hover">
                                    <a href="javascript:void(0)" class="quick-view" data-toggle="modal"
                                       data-target="#quickview">

                                    </a>
                                    <div class="yith-wcwl-add-to-wishlist">
                                        <a href="#"
                                           class="add_to_wishlist single_add_to_wishlist">
                                        </a>
                                    </div>
                                    <a href="#" data-quantity="1"
                                       class="button product_type_simple add_to_cart_button ajax_add_to_cart"></a>
                                </div>
                            </div>
                            <div class="wrapper-content-item">
                                <h2 class="woocommerce-loop-product_title">
                                    <a href="simple-product.html">Weaver hat v2</a>
                                </h2>
                                <span class="price">
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol">$</span>115
                                    </span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="inner-item-product">
                            <div class="product-image">
                                <a href="simple-product.html" class="wp-post-image">
                                    <img src="images/product/Rose-short.jpg" alt="">
                                    <img src="images/product/Pastel-Jogger.jpg"
                                         class="product-change-images"
                                         alt="">
                                </a>
                                <div class="box-hover">
                                    <a href="javascript:void(0)" class="quick-view" data-toggle="modal"
                                       data-target="#quickview">

                                    </a>
                                    <div class="yith-wcwl-add-to-wishlist">
                                        <a href="#"
                                           class="add_to_wishlist single_add_to_wishlist">
                                        </a>
                                    </div>
                                    <a href="#" data-quantity="1"
                                       class="button product_type_simple add_to_cart_button ajax_add_to_cart"></a>
                                </div>
                            </div>
                            <div class="wrapper-content-item">
                                <h2 class="woocommerce-loop-product_title">
                                    <a href="simple-product.html">Rose Short</a>
                                </h2>
                                <span class="price">
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol">$</span>115
                                    </span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="inner-item-product">
                            <div class="product-image">
                                <a href="simple-product.html" class="wp-post-image">
                                    <img src="images/product/sneaker3.jpg" alt="">
                                    <img src="images/product/sneaker.jpg" class="product-change-images"
                                         alt="">
                                </a>
                                <div class="box-hover">
                                    <a href="javascript:void(0)" class="quick-view" data-toggle="modal"
                                       data-target="#quickview">

                                    </a>
                                    <div class="yith-wcwl-add-to-wishlist">
                                        <a href="#"
                                           class="add_to_wishlist single_add_to_wishlist">
                                        </a>
                                    </div>
                                    <a href="#" data-quantity="1"
                                       class="button product_type_simple add_to_cart_button ajax_add_to_cart"></a>
                                </div>
                            </div>
                            <div class="wrapper-content-item">
                                <h2 class="woocommerce-loop-product_title">
                                    <a href="simple-product.html">Sneaker v2</a>
                                </h2>
                                <span class="price">
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol">$</span>60
                                    </span>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </div>

</div>
<!-- #content -->
@*<section id="left">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12  specialsimage">

                                    @{ DateTime? itemDiscount = Model.DiscountDate;

                            <div class="carddetails">
                                <img class="tukendim" src="~/UploadsProducts/@Model.Image" alt="">
                                @if (itemDiscount != null && itemDiscount > DateTime.Now)
                                {
                    <span class="specialspan">@Model.Discountfaiz</span>}
                                <div class="card-body">
                                    <h6 class="card-title">@Model.Brand @Model.Model</h6>
                                    <div class="fontsizedetails">
                                        <p>Brand:@Model.Brand</p>
                                        <p>Model:@Model.Model</p>
                                        <p>Color:@Model.Color</p>
                                    </div>


                                    <div class="d-flex">
                                        @if (itemDiscount != null && itemDiscount > DateTime.Now)
                                        {
                            <h5 class="latestp1">@Model.DiscountPrice</h5>
                                            <p class="latestp2">@Model.Price</p> }
                                        else
                                        {

                            <h5 class="latestp1">@Model.Price</h5>}
                                    </div>
                                    <i class="fa-solid fa-cart-shopping c1"></i>
                                    <a asp-controller="Product" asp-action="AddToCart" asp-route-id="@Model.Id" class="btn foradd   ">Add to cart</a>
                                </div>
                            </div> }


                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="forborder">
                        <h5>Information</h5>
                        <a href="">
                            <p>About us</p>
                        </a>
                        <a href="">
                            <p>Delivery Information </p>
                        </a>
                        <a href="">
                            <p>Privacy Policy </p>
                        </a>
                        <a href="">
                            <p>Terms & Conditions </p>
                        </a>
                        <a href="">
                            <p>Contact Us </p>
                        </a>
                    </div>

                    <img class="reklamucun" src="/img/left-banner-315x460 (1).jpg" alt="">
                    <div class="forborder">
                        <h5>Latest</h5>

                        <div class="d-flex forhoverimage">
                            <a href="">
                                <div class="imgg">

                                </div>
                                <div class="latest">
                                    MacBook Pro (Retina, 15-inch, 8-Core CPU)
                                    <div class="d-flex">
                                        <p class="latestp1">$26.00</p>
                                        <p class="latestp2">$241.99</p>
                                    </div>
                                </div>

                            </a>

                        </div>
                        <div class="d-flex forhoverimage">
                            <a href="">
                                <div class="imgg">

                                </div>
                                <div class="latest">
                                    MacBook Pro (Retina, 15-inch, 8-Core CPU)
                                    <div class="d-flex">
                                        <p class="latestp1">$26.00</p>
                                        <p class="latestp2">$241.99</p>
                                    </div>
                                </div>

                            </a>

                        </div>
                        <div class="d-flex forhoverimage">
                            <a href="">

                                <div class="imgg">

                                </div>
                                <div class="latest">
                                    MacBook Pro (Retina, 15-inch, 8-Core CPU)
                                    <div class="d-flex">
                                        <p class="latestp1">$26.00</p>
                                        <p class="latestp2">$241.99</p>
                                    </div>
                                </div>

                            </a>

                        </div>


                    </div>

                </div>




            </div>


        </div>
    </section>*@
<section id="button">
    <a class="top_button" title="Back To Top" href="#" style="display: block;"></a>
</section>
